<h1>Let's connect</h1>
<hr>
<br>
<br>
<div id="form-container">
  {{#if data.sports}}
  <a href="filtered-page?q=sports" class="field">Filter for <em>SPORTS</em></a>
  {{/if}}
  <br>
  {{#if data.music}}
  <a href="filtered-page?q=music" class="field">Filter for <em>MUSIC</em></a>
  {{/if}}
  <br>
  {{#if data.learnGroup}}
  <a href="filtered-page?q=learnGroup" class="field">Filter for <em>LEARNGROUP</em></a>
  {{/if}}
  <br>
  {{#if data.languages}}
  <a href="filtered-page?q=languages" class="field">Filter for <em>LANGUAGES</em></a>
  {{/if}}
  <br>
  {{#if data.culinary}}
  <a href="filtered-page?q=culinary" class="field">Filter for <em>FOOD</em></a>
  {{/if}}
  <br>
  {{#if data.getInTouch}}
  <a href="filtered-page?q=getInTouch" class="field">Filter for <em>GETTING IN TOUCH</em></a>
  {{/if}}
  <br>
  <br>
  <br>
  <a href="filtered-page?q=username">I can't decide, show all!</a>
</div>