<h1>Signup</h1>

<form action="/auth/signup" method="POST" id="form-container">
   <div class="testform field">
<!--   <label for="username">Username</label> -->
 <input id="username" type="text" name="username" placeholder="User name">
 <br><br>
<!--     <label for="email">Email</label> -->
 <input id="email" type="email" name="email" placeholder="Your Email-address">
 <br><br>
<!--   <label for="password">Password</label> -->
 <input id="password" type="password" name="password" placeholder="Password please">
 <br>
   </div>
 <br><br>
 <div class="creatbtn">
<button>CREATE ACCOUNT</button>
</div>
 <p class="account-message">
   Do you already have an account?
   <a href="/auth/login">Login</a>
 </p>
</form>
