<div>
  <span>
    <section>
      <h4>Hi there and welcome to Amalgamate!</h4>
        <p>
          This app was developed by <a href="https://github.com/Lorberta" target="_blank">Lorberta</a>, 
          <a href="https://github.com/GutuGaluppo" target="_blank">Gutu</a> and 
          <a href="https://github.com/watnFoehn" target="_blank">Felix</a>.
        </p>
        <p>
         It is meant as an icebreaker for individuals of groups. Save some information about you (but you decide which one)
         and look for common interests. Then you can get in touch with other people and get to know them. See if they left
         an email address or just walk over and drink a coffee.
        </p>
        <p>
          We used Express, node.js, MongoDB, mongoose, jquery and a bunch of other stuff to make this app work. We hope you enjoy
          it and are happy about any feedback.
          Just leave us a message!
        </p>
    </section>
  </span>


</div>