<h1>Fill in the fields of interest</h1>

<img src="http://www.independentmediators.co.uk/wp-content/uploads/2016/02/placeholder-image.jpg" style="width: 50%">

<form class="container">
  <div class="flex">
  <span>Sport<label class="switch flex">
      <input type="checkbox">
      <span class="slider round"></span>
    </label></span>
  </div>

  <div class="flex">
  <span>Music<label class="switch flex">
      <input type="checkbox">
      <span class="slider round"></span>
    </label></span>
  </div>
  
  <div class="flex">
  <span>Languages<label class="switch flex">
      <input type="checkbox">
      <span class="slider round"></span>
    </label></span>
  </div>
  
  <div class="flex">
  <span>Another Things<label class="switch flex">
      <input type="checkbox">
      <span class="slider round"></span>
    </label></span>
  </div>
</form>

<h2>This is firststep view</h2>