<div id="propic">
  <h1>Fill in the fields of interest</h1>
</div>
<div class="test">
  <form action="/auth/firststep" method="POST" class="container" enctype="multipart/form-data">
    <div class="avatar-container">
      <div class="avatar-upload">
        <div class="avatar-edit">
          <input type="file" name="photo" id="imageUpload" accept=".png, .jpg, .jpeg" />
          <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
          <div id="imagePreview" style="background-image: url(http://www.independentmediators.co.uk/wp-content/uploads/2016/02/placeholder-image.jpg);">
          </div>
        </div>
      </div>
    </div>
    <div class="flex">
      <h3 class="flex">Sport</h3>
      <label class="switch flex">
        <input type="checkbox">
        <span class="slider round" id="sport"></span>
      </label>
    </div>
    <div>
      <textarea id="toggle1" class="flxcol" name="sports" style="display:none" placeholder="e.g.: Soccer, Quidditch, Dancing"></textarea>
    </div>
    <hr>
    <div class="flex">
      <h3 class="flex">Music</h3>
      <label class="switch flex">
        <input type="checkbox">
        <span class="slider round" id="music"></span>
      </label>
    </div>
    <div>
      <textarea id="toggle2" class="flxcol" name="music" style="display:none" placeholder="e.g.: Johann Sebastian Bach, Freddy Mercury"></textarea>
    </div>
    <hr>
    <div class="flex">
      <h3>Learn Group</h3>
      <label class="switch flex">
        <input type="checkbox">
        <span class="slider round" id="lrngrp"></span>
      </label>
    </div>
    <div>
      <textarea id="toggle3" class="flxcol" name="learnGroup" style="display:none" placeholder="e.g.: JavaScript, Meditation, SCSS"></textarea>
    </div>
    <hr>
    <div class="flex">
      <h3>Language</h3>
      <label class="switch flex">
        <input type="checkbox">
        <span class="slider round" id="languages"></span>
      </label>
    </div>
    <div>
      <textarea id="toggle4" class="flxcol" name="languages" style="display:none" placeholder="e.g.: english, german, swedish"></textarea>
    </div>
    <hr>
    <div class="flex">
      <h3>Culinary</h3>
      <label class="switch flex">
        <input type="checkbox">
        <span class="slider round" id="culinary"></span>
      </label>
    </div>
    <div>
      <textarea id="toggle5" class="flxcol" name="culinary" style="display:none" placeholder="e.g.: fast food, french, vegan"></textarea>
    </div>
    <hr>
    <div class="flex">
      <h3>Get in touch</h3>
      <label class="switch flex">
        <input type="checkbox">
        <span class="slider round" id="getintch"></span>
      </label>
    </div>
    <div>
      <textarea id="toggle7" class="flxcol" name="getInTouch" style="display:none" placeholder="e.g.: talk to me, email: example@email.com"></textarea>
    </div>
    <hr>
    <br>
    <div id="flexbtn">
      <button type="submit">SUBMIT</button>
    </div>
  </form>
</div>
<br>