<h1>Fill in the fields of interest</h1>

<img src="http://www.independentmediators.co.uk/wp-content/uploads/2016/02/placeholder-image.jpg" style="width: 50%">

<form action="auth/firststep" method="POST" class="container">
  <div class="flex">
    <h3 class="flex">Sport</h3>
    <label class="switch flex">
      <input type="checkbox">
      <span class="slider round" id="sport"></span>
    </label>
  </div>
  <div>
    <textarea id="toggle1" class="flxcol" name="sports" style="display:none"></textarea>
  </div>

  <div class="flex">
    <h3 class="flex">Music</h3>
    <label class="switch flex">
      <input type="checkbox">
      <span class="slider round" id="music"></span>
    </label>
  </div>
  <div>
    <textarea id="toggle2" class="flxcol" name="music" style="display:none"></textarea>
  </div>

  <div class="flex">
    <h3>Learn Group</h3>
    <label class="switch flex">
      <input type="checkbox">
      <span class="slider round" id="lrngrp"></span>
    </label>
  </div>
  <div>
    <textarea id="toggle3" class="flxcol" name="learnGroup" placeholder="something" style="display:none"></textarea>
  </div>

  <div class="flex">
    <h3>Language</h3>
    <label class="switch flex">
      <input type="checkbox">
      <span class="slider round" id="languages"></span>
    </label>
  </div>
  <div>
    <textarea id="toggle4" class="flxcol" name="languages" style="display:none"></textarea>
  </div>

  <div class="flex">
    <h3>Culinary</h3>
    <label class="switch flex">
      <input type="checkbox">
      <span class="slider round" id="culinary"></span>
    </label>
  </div>
  <div>
    <textarea id="toggle5" class="flxcol" name="culinary" style="display:none"></textarea>
  </div>

  <div class="flex">
    <h3>Get in touch</h3>
    <label class="switch flex">
      <input type="checkbox">
      <span class="slider round" id="getintch"></span>
    </label>
  </div>
  <div>
    <textarea id="toggle7" class="flxcol" name="getInTouch" style="display:none"></textarea>
  </div>

{{!-- 
  <div class="flex">
    <h3>Location</h3>
    <label class="switch flex">
      <input type="checkbox">
      <span class="slider round" id="location"></span>
    </label>
  </div>
  <div>
    <textarea id="toggle6" class="flxcol" name="location" style="display:none"></textarea>
  </div> --}}

  <br>
  <button type="submit">SUBMIT</button>
  {{!-- <input type="submit" value="SUBMIT2"> --}}

</form>
<br>