<h1><strong class="over">AMALGA</strong><em class="under">MATE</em></h1>
<ul>
  <li>Break the Ice</li>
  <li>Meet people</li>
  <li>blablabla</li>
</ul>

<button><a href="/auth/signup">Signup</a></button><span></span><button><a href="/auth/login">Login</a></button>