<h1><strong class="over">AMALGA</strong><em class="under">MATE</em></h1>
<ul>
  <li>Break the Ice</li>
  <li>Check out your groups profiles</li>
  <li>Search for similar interests and get together</li>
</ul>

<span><button><a href="/auth/signup">Signup</a></button><button><a href="/auth/login">Login</a></button></span>
<br>