<h1><strong class="over">AMALGA</strong><em class="under">MATE</em></h1>
<img id="img-logo" src="/images/AmalgaMateLogo.png" style="width: 12vh; margin: 2%;">
<ul id="lp-ul">
  <li>Break the Ice</li>
  <li>Check out your groups profiles</li>
  <li>Search for similar interests and get together</li>
</ul>
<div class="creatbtn">
  <span><a href="/auth/signup"><button>SIGNUP</button></a><a href="/auth/login"><button>LOGIN</button></a></span>
</div>
<br>