<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Cuprum|Kaushan+Script" rel="stylesheet"> <!-- Cuprum \ Kaushan-->
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous" />
</head>

<body>


  <nav>
    {{#if isConnected}}
    {{!-- Below line 16 has to be hidden when you're logged out --}}

    <a href="/auth/main-page">
      <img src="/images/AmalgaMateLogo.png" alt="Ironhack2018">
    </a>
    <a href='/auth/profile/{{username}}' id="navlink">Profile </a>
    <a href="/auth/logout" id="navlink">Logout</a>
    {{else}}
    {{!-- Only show when you're not logged in --}}
    {{!-- <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a> --}}
    {{/if}}
  </nav>
  <div class="wrap">

    {{{body}}}

  </div>
  <footer>
    <div id="footid">
      <span>
        <a href="/about">About</a>
      </span>
      |
      <span>
        &copy; Copyright 2018 by amangamangateam
      </span>
      |
      <span>
        Made with ❤ (and bad jokes) in Berlin
      </span>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>